<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Propuesta.css">
    <link rel="stylesheet" href="/css/General/General.css">
</head>

<body id="cuerpo">
    <div class="card card-body" id="divnuevo">
        <div class="row">
            <div class="col-md-11 nuevo">
                <span class="nuevo">
                    Carlos Villacis
                </span>
            </div>
            <div class="col-md-1 nuevo">
                <span class="nuevo">
                    <i class="fa-solid fa-person"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="container card-body">
        <div class=" container card card-body" id="divPropuesta1">
            <div class=" container card card-body" id="divPropuesta2">
                <div class="row">
                    <div class="card-body col-md-15" id="divPropuesta3">
                        <h4>Elaboracion de propuesta</h4>
                    </div>
                    <div class="card-body col-md-5" id="divPropuesta4">
                        <a href="/" class="btn btn-danger" id="btnAtrasPropuesta">Atras</a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container card card-body" id="divPropuesta5">
            <form action="/" method="post">
                <div class="card card-body" id="divPropuesta6">
                    <div class="card-body row mx-auto">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="titulopropuesta" id="label_Propuesta"> Valor</label>
                            </div>
                            <div class="form-group">
                                <label for="Detalles" id="label_Propuesta1"> Detalles</label>
                            </div>
                            <div class="form-group">
                                <label for="Presupuesto" id="presu"> Presupuesto</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" id="subir">
                                <input type="text" name="titulopropuesta" placeholder="Titulo*" class="form-control"
                                    id="inputPropuesta">
                            </div>
                            <div class="form-group">
                                <textarea name="Detalles" id="detalles" cols="30" rows="10" class="form-control"
                                    placeholder="Detalles*"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Presupuesto" placeholder="Presupuesto*" class="form-control"
                                    id="inputPropuesta">
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" container card card-body" id="divPropuesta7">
                    <div class=" container card card-body" id="borde">
                        <div class="row">
                            <div class="card-body col-md-12" id="divPropuesta8">
                                <h4>Opciones</h4>
                            </div>
                            <div class="card-body col-md-6" id="divPropuesta9">
                                <a href="/" class="btn btn-primary" id="btnEnviarPropuesta">Enviar</a>
                                <!--
                                    <button type="submit" class="btn btn-primary"
                                    style="background-color:#18A0FB; border-color: #18A0FB; margin-left: 25%; border-radius: 8%;">
                                    Enviar
                                </button>
                                -->
                            </div>
                            <div class="card-body col-md-6" id="divPropuesta10">
                                <a href="/" class="btn btn-primary" id="btnCancelarPropuesta">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

<% include partials/_footer %>