<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/_Tarea_Comentarios.css">
    <link rel="stylesheet" href="/css/General/General.css">
</head>

<body class="cuerpo">
    <div class="card card-body" id="divnuevo">
        <div class="row">
            <div class="col-md-11 nuevo">
                <span class="nuevo">
                    Carlos Villacis
                </span>
            </div>
            <div class="col-md-1 nuevo">
                <span class="nuevo">
                    <i class="fa-solid fa-person"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="container card-body">
        <div class=" container card card-body" id="divComentario1">
            <div class=" container card card-body" id="border_Div">
                <div class="row">
                    <div class="card-body col-md-15"
                        id="divComentario2">
                        <h4>Calificar</h4>
                    </div>
                    <div class="card-body col-md-5"
                        id="divComentario3">
                        <a href="/" class="btn btn-danger" id="btnAtrasComentario"
                            >Atras</a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" container card card-body" id="divComentario4">
            <form action="/" method="post">
                <div class="card card-body" id="divComentario5">
                    <div class="card-body row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="Denuncia" class="labelComentario"> Comentario </label>
                                </div>
                                <div class="form-group">
                                    <label for="nombredocente" class="labelComentario1"> Calificacion</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="Denuncia" id="Denuncia" cols="30" rows="10" class="form-control"
                                        placeholder="Comentario*"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="nombredocente" id="nombredocente"
                                        placeholder="Ingrese una Calificacion*" class="form-control"
                                        id="calificacion">
                                </div>
                            </div>
                    </div>
                </div>
                <div class=" container card card-body"
                    id="divComentario6">
                    <div class=" container card card-body" id="border_Div">
                        <div class="row">
                            <div class="card-body col-md-12"
                                id="divComentario7">
                                <h4>Opciones</h4>
                            </div>
                        </div>
                        <div class="card card-body" id="border">
                            <div class="row">
                                <div class="col-md-6" id="opciones">
                                    <a href="/" class="btn btn-primary btnRevisar"> Enviar</a>
                                </div>
                                <div class="col-md-6" id="opciones">
                                    <a href="/" class="btn btn-primary btnRevisar"> Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

<% include partials/_footer %>

<!--
<button type="submit" class="btn btn-primary"
 style="background-color:#18A0FB; border-color: #18A0FB; margin-left: 25%; border-radius: 8%;">
 Enviar
</button>
-->