<% include partials/_header %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Tarea_Listado.css">
</head>

<body class="cuerpo">
    <div class="container card-body" id="divprincipal">
            <div class="card-title division1">
                <h4>Listado de tareas activas</h4>
            </div>
            <div class="card card-body divisionprimer">
                <div class="container mt-2 divisionsecondary">
                    <div class="container">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th id="cabeza">N°</th>
                                    <th id="cabeza">Titulo</th>
                                    <th id="cabeza">Descripcion</th>
                                    <th id="cabeza">Fecha Limite</th>
                                    <th id="cabeza">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="N°">1</td>
                                    <td data-label="Titulo">Ecuaciones Diferenciales</td>
                                    <td data-label="Descripcion">Ecuaciones dobles</td>
                                    <td data-label="Fecha Limite">10/01/2012</td>
                                    <td data-label="Acciones">
                                        <a href="/" class="btn btn-primary item tres">Editar</a>
                                        <a href="/" class="btn btn-danger item tres">Borrar</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="N°">2</td>
                                    <td data-label="Titulo">Ecuaciones Diferenciales</td>
                                    <td data-label="Descripcion">Ecuaciones simples</td>
                                    <td data-label="Fecha Limite">10/01/2012</td>
                                    <td data-label="Acciones">
                                        <a href="/" class="btn btn-primary item tres">Editar</a>
                                        <a href="/" class="btn btn-danger item tres">Borrar</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td data-label="N°">3</td>
                                    <td data-label="Titulo">Ecuaciones Diferenciales</td>
                                    <td data-label="Descripcion">Ecuaciones simples</td>
                                    <td data-label="Fecha Limite">10/01/2012</td>
                                    <td data-label="Acciones">
                                        <a href="/" class="btn btn-primary item tres">Editar</a>
                                        <a href="/" class="btn btn-danger item tres">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>

</body>
<% include partials/_footer %>


<!-- 
                    <div class="col-md-25">
                        <table class="table table-bordered table-hover table-dark">
                            <thead>
                                <tr>
                                    <td>N°</td>
                                    <td>Titulo </td>
                                    <td>Descripcion</td>
                                    <td>Observaciones</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="colorfila">#########</td>
                                    <td class="colorfila">#########</td>
                                    <td class="colorfila">#########</td>
                                    <td class="colorfila">#########</td>
                                    <td class="colorfila td1">
                                        <a href="/" class="btn btn-info link1">Editar</a>
                                        <a href="/" class="btn btn-danger link2">Borrar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    -->