<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/_Tarea.css">
    <link rel="stylesheet" href="/css/General/General.css">
</head>

<body id="cuerpo">
    <div class="card card-body" id="divnuevo">
        <div class="row">
            <div class="col-md-11 nuevo">
                <span class="nuevo">
                    Carlos Villacis
                </span>
            </div>
            <div class="col-md-1 nuevo">
                <span class="nuevo">
                    <i class="fa-solid fa-person"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="container card-body">
        <div class=" container card card-body" id="divEditarTarea1">
            <div class="row">
                <div class="card-body col-md-15" id="divEditarTarea2">
                    <h4>Crea una tarea</h4>
                </div>
                <div class="card-body col-md-5" id="divEditarTarea3">
                    <a href="/" class="btn btn-danger" id="btnCancelarEditarT">Cancelar</a>
                </div>
            </div>
        </div>
        <div class=" container card card-body" id="divEditarTarea4">
            <div class="card card-body" id="divEditarTarea5">
                <div class="card-body row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="Titulo" id="l1" style="margin-top: 5%;"> Titulo de tarea </label>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion" id="l2" style="margin-top: 6%;"> Descripcion </label>
                        </div>
                        <div class="form-group">
                            <label for="Asignatura" id="l3" style="margin-top: 6%;"> Asignatura </label>
                        </div>
                        <div class="form-group">
                            <label for="fechalimite" id="l4" style="margin-top: 6%;"> Fecha Limite </label>
                        </div>
                        <div class="form-group">
                            <label for="Archivo" id="l5" style="margin-top: 6%;"> Archivo</label>
                        </div>
                        <div class="form-group">
                            <label for="Observaciones" id="l6" style="margin-top: 6%;"> Observaciones </label>
                        </div>
                        <div class="form-group">
                            <label for="Estimacion" id="l7" style="margin-top: 10%;"> Estimacion </label>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <form action="/" method="POST">
                            <div class="form-group">
                                <input type="text" name="Titulo" id="Titulo" placeholder="Titulo*" class="form-control"
                                    autofocus>
                            </div>
                            <div class="form-group">
                                <input type="text" name="Descripcion" id="Descripcion" placeholder="Descripcion*"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Asignatura" id="Asignatura" placeholder="Asignatura*"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="fechalimite" id="fechalimite" placeholder="Fecha limite*"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Archivo" id="Archivo" placeholder="Link de drive*"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Observaciones" id="Observaciones" placeholder="Observaciones*"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Estimacion" id="Estimacion" placeholder="Estimacion*"
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary" id="btnActualizar">
                                Guardar
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

<% include partials/_footer %>