<% include partials/_header %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/_Tarea_Informacion.css">
    <link rel="stylesheet" href="/css/General/General.css">
</head>

<body id="cuerpo">
    <div class="card card-body" id="divnuevo">
        <div class="row">
            <div class="col-md-11 nuevo">
                <span class="nuevo">
                    Carlos Villacis
                </span>
            </div>
            <div class="col-md-1 nuevo">
                <span class="nuevo">
                    <i class="fa-solid fa-person"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="container card-body">
        <div class=" container card card-body" id="divTareaInfo1">
            <div class="row">
                <div class="card-body col-md-15" id="divTareaInfo2">
                    <h4>Descripción de tarea</h4>
                </div>
                <div class="card-body col-md-5" id="divTareaInfo3">
                    <a href="/" class="btn btn-danger" id="btnAtrasTareaInfo">Atras</a>
                </div>
            </div>
        </div>
        <div class=" container card card-body" id="divTareaInfo4">
            <div class="card card-body" id="divTareaInfo5">
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <li class="etiqueta">Titulo</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Este es el titulo</li>
                            </div>
                        </div>
                        <div class="form-group" >
                            <li class="etiqueta">Asignatura</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Esta es la Asignatura</li>
                            </div>
                        </div>
                        <div class="form-group">
                            <li class="etiqueta">Descripcion</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Esta es la Descripcion</li>
                            </div>
                        </div>
                        <div class="form-group">
                            <li class="etiqueta">Estado</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Esta es el estado</li>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <li class="etiqueta">Archivo</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Este es el archivo</li>
                            </div>
                        </div>
                        <div class="form-group">
                            <li class="etiqueta">Observaciones</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Esta es la Observaciones </li>
                            </div>
                        </div>
                        <div class="form-group">
                            <li class="etiqueta">Estimacion</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Esta es la Estimacion</li>
                            </div>
                        </div>
                        <div class="form-group">
                            <li class="etiqueta">Fecha limite</li>
                            <div class="card card-body cuerpoLista">
                                <li class="lista">Esta es la fecha limite</li>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-body" id="divTareaInfo6">
                    <a href="/" class="btn btn-primary btnRevisar"> Revisar</a>
                </div>
            </div>
        </div>
    </div>

</body>

<% include partials/_footer %>